<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="fresh">
    <classes>
      <class name="freshbasepkg.Freshbase"/>
      <class name="freshtestpkg.Freshtest"/>
      <class name="freshpagepkg.Freshregpage"/>
      <class name="freshpagepkg.Freshlogin"/>
      <class name="freshpagepkg.Freshitempage"/>
      <class name="freshpagepkg.Freshcartpage"/>
    </classes>
  </test> <!-- fresh -->
</suite> <!-- Suite -->
